<% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index += 1 %></td>
      <td><%= user.name %></td>
      <td>
        <%= link_to "Send Message",
                    "#",
                    class: 'btn btn-success btn-xs start-conversation',
                    "data-sid" => current_user.id,
                    "data-rip" => user.id %>
      </td>
    </tr>
<% end %>

<% if current_user %>
    <script type="text/javascript">
      channel = <%= raw ('"' + '/notifications' + current_user.id.to_s + '"') %>;
      PrivatePub.subscribe(channel, function(data){
         var sender_id = data.sid;
         var recipient_id = data.rip;
         var conversation_id = data.cid;

          $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data){
             chatBox.chatWith(conversation_id);
          });
      });
    </script>
    <%= subscribe_to '/notifications' + current_user.id.to_s %>
<% end %>