<!DOCTYPE html>
<html>
<head>
  <title>ChattyChat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
</head>
<body>

<%= yield %>

<!--  -->
<% if current_user %>
    <script type="text/javascript">
        channel = <%= raw ('"' + '/notifications' + current_user.id.to_s + '"') %>;
        PrivatePub.subscribe(channel, function(data){
            var sender_id = data.sid;
            var recipient_id = data.rip;
            var conversation_id = data.cid;

            $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data){
                chatBox.chatWith(conversation_id);
            });
        });
    </script>
    <%= subscribe_to '/notifications' + current_user.id.to_s %>
<% end %>

</body>
</html>
